<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/moov.ico">
    <title>Moov Money</title>
 
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <div class="header1">
            <p class="dashboard-title">Good Day, Abdul</p>
            <p class="btn-balance"> Show Balance</p>
        </div>
        <img class="moov-logo" src="../../assets/images/headermoov.svg">
    </div>

  <!--MAIN CONTENT START-->
    <div class="menu-grid">
        <div class="menu-item" tabIndex="1">
            <span class="menu-item svg svg-profile"></span>
            <p>Profile</p>
        </div>
        <div class="menu-item" tabIndex="2">
            <span class="menu-item svg svg-language"></span>
            <p>Language</p>
        </div>
        <div class="menu-item" tabIndex="3" onclick="redirectTo('/views/Dashboard/SendMoney.html')">
            <span class="menu-item svg svg-send-money"></span>
            <p>Send Money</p>
        </div>
        <div class="menu-item" tabIndex="4" onclick="redirectTo('/views/Airtime/AirtimeOptions.html')">
            <span class="menu-item svg svg-airtime"></span>
            <p>Airtime</p>
        </div>
        <div class="menu-item" tabIndex="5" onclick="redirectTo('/views/Airtime/AirtimeOptions.html')">
            <span class="menu-item svg svg-bills"></span>
            <p>Bills</p>
        </div>
        <div class="menu-item" tabIndex="6" onclick="redirectTo('/views/Airtime/AirtimeOptions.html')">
            <span class="menu-item svg svg-invoices"></span>
            <p>Invoices</p>
        </div>
        <div class="menu-item" tabIndex="7" onclick="redirectTo('/views/Airtime/AirtimeOptions.html')">
            <span class="menu-item svg svg-bank"></span>
            <p>Bank</p>
        </div>
        <div class="menu-item" tabIndex="8" onclick="redirectTo('/views/Airtime/AirtimeOptions.html')">
            <span class="menu-item svg svg-other-ops"></span>
            <p>Other Operations</p>
        </div>
    </div>

    
    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }

        // KEYPAD FUNCTION
        function handleKeydown(e) {
            switch(e.key) {
                case 'ArrowUp':
                    nav(-2);
                    break;
                case 'ArrowDown':
                    nav(2);
                    break;
                case 'ArrowRight':
                    nav(1);
                    break;
                case 'ArrowLeft':
                    nav(-1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.menu-item');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }

    </script>

</body>
</html>
    