<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="title">INVOICES</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <center>
        <button class="button" tabindex="1" onclick="redirectTo('/views/Invoices/SBEE/SBEE_Selection.html')">SBEE</button>
        <button class="button" tabindex="2" onclick="redirectTo('/views/Invoices/SONEB/SONEB_Notice.html')">SONEB</button>
        <button class="button" tabindex="3" onclick="redirectTo('/views/Invoices/Canal_Iroko/Canal_Iroko_Selection.html')">CANAL+/IROKO+</button>
        <button class="button" tabindex="4" onclick="redirectTo('/views/Invoices/Confirmation.html')">INSURANCE</button>
        <button class="button" tabindex="5" onclick="redirectTo('/views/Invoices/Confirmation.html')">TRANSPORT</button>
        <button class="button" tabindex="6" onclick="redirectTo('/views/Invoices/Confirmation.html')">ETISALAT POSTPAID</button>
        <button class="button" tabindex="7" onclick="redirectTo('/views/Invoices/Confirmation.html')">OTHERS</button>
        <button class="button" tabindex="8" onclick="redirectTo('/views/Invoices/Confirmation.html')">TAX ON MOTOR VEHICLE</button>
    </center>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>SELECT</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>
    
    <br>

    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }


        // KEYPAD NAVIGATION
        function handleKeydown(e) {
            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.button');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>