<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <style>
        .inputs2:focus {
            background-color: white; 
            color: white; 
        }
    </style>
    </head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="header">SEND MONEY</p></center>
    </div>

    <center> <img src="../../assets/images/moov.svg" class="full-logo"> </center>

    <p class="black-title"> To Other Networks</p>

    <!--MAIN CONTENT START-->

    <!-- USER INPUTS -->
    <div class="container">
        <p class="input-label">Full Name</p>
        <input class="inputs2" tabIndex="1" type="text" id="fullName" name="full-name" placeholder="Enter full name">
    </div>

    <div class="container">
        <p class="input-label">Account Number</p>
        <input class="inputs2" tabIndex="2" type="number" id="accountNo" name="account-num" placeholder="Enter Account No.">
    </div>

    <div class="container">
        <p class="input-label">Amount</p>
        <input class="inputs2" tabIndex="3" type="number" id="amount" name="amount" placeholder="Enter Amount">
    </div>
    <script>
        // KEYPAD FUNCTION
        function handleKeydown(e) {
            // Prevent default behavior of arrow keys
            e.preventDefault();

            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
                case 'ArrowRight':
                    nav(1);
                    break;
                case 'ArrowLeft':
                    nav(-1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.inputs2');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>