<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assets/images/moov.ico">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Moov Money</title>
</head>
<body>
    <div class="header">
        <img class="moov-logo" src="../../assets/images/moov.png">
    </div>
    <div class="title-div">
        <center><p class="title">INTERNATIONAL</p></center>
    </div>

    <button class="btn-country-selection" onclick="document.location='Country Selection.html'"> SELECT COUNTRY</button>
</body>
</html>