<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <img class="moov-logo" src="../../assets/images/headermoov.svg">
    </div>
    <div class="title-div">
        <center><p class="title">SELECT TRANSACTION</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <center>
        <button class="btn-country">Western</button>
        <button class="btn-country">Wari</button>
        <button class="btn-country">Money Gram</button>
        <button class="btn-country">Money Express</button>
    </center>
</body>
</html>