<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/moov.ico">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <style>
        .btn-country:focus {
            background-color: darkviolet; 
            color: black; 
        }
    </style>
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <img class="moov-logo" src="../../assets/images/moov.png">
    </div>
    <div class="title-div">
        <center><p class="title">PLEASE SPECIFY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <div>
        <center>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Family Support</button>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Education</button>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Travel</button>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Gift</button>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Investment</button>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Real Estate</button>
                <button class="btn-country" onclick="document.location='Confirmation.html'"> Business Transactions</button>
        </center>
    </div>
    <script>
        // KEYPAD FUNCTION
        function handleKeydown(e) {
            // Prevent default behavior of arrow keys
            e.preventDefault();

            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
                case 'ArrowRight':
                    nav(1);
                    break;
                case 'ArrowLeft':
                    nav(-1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.btn-country');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>