<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">CONFIRMATION</p></center>
    </div>

    <center> 
        <img src="../../../assets/images/moov.svg" class="full-logo"> 
    </center>

    <p class="black-title"> Delete N Counter</p>

    <!--MAIN CONTENT START-->
    <center>
        <p style="font-size: 14px;">You want to delete counter?</p>

        <p style="font-weight: bold; font-size: 14px;" id="counterNo">1234565</p>
    </center>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp;</p></div>
        <div class="footer-col"><p>DELETE</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>
    
    <br>

    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }

        // KEYPAD NAVIGATION
        function handleKeydown(e) {
            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.inputs2');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>