<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">AIRTIME</p></center>
    </div>

    <center> <img src="../../assets/images/moov.svg" class="full-logo"> </center>

    <p class="black-title"> To My Number</p>

    <!--MAIN CONTENT START-->
    <!-- USER DETAILS -->
    <center>
        <p class="fullname" style="font-weight: bold; font-size: 16px; line-height: 0;">Abdul Jafar</p>
        <p class="contact" style="margin-bottom: 2rem; font-size: 14px; line-height: 0;">09123457894</p>
    </center>
    
    <!-- USER INPUTS -->
    <div class="container row">
        <p class="input-label3">Amount</p>
        <input class="inputs3" type="number" id="amount" name="amount" placeholder="Enter amount" onclick="redirectTo('/views/Airtime/Confirmation.html')" tabindex="1">
    </div>
    
    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col" id="softkey-center"><p>CONTINUE</p></div>
        <div class="footer-col" id="softkey-right" tabindex="0"  onclick="redirectTo('/views/Airtime/PurchaseCreditOptions.html')"><p>BACK</p></div>
    </div>

    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }
        
        // Add event listener to the "PROCEED" button
        document.getElementById('softkey-center').addEventListener('click', function() {
            // Redirect to the next page
            redirectTo('/views/Airtime/Confirmation.html');
        });
        
        // KEYPAD NAVIGATION
        function handleKeydown(e) {
            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
                    
                case 'Enter': // Enter key
                   // Trigger click event for center button
                   document.getElementById('softkey-center').click();
                   break;
                    
                 case 'SoftRight':
                    // Trigger click event for softkey-right button
                    document.getElementById('softkey-right').click();
                    break;
            }
            
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.inputs3');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>